html{
    background-color: rgba(250, 235, 215, 0.668);
}
h1{
    color: red;
    background-color:rgb(127, 255, 236);
}

h2{
    border-bottom-style: solid;
    color:aqua;
}

h3{
    color: rgb(226, 43, 211);
    border-bottom-style: dashed;
}

p{
    font-style: italic;
    border: 2px solid black;
    padding: 10px;
}