p {
	color: navy;
}

p.info {
	font-size: 10pt;
	background-color: #dfdfdf; 
}

h1 {
	color: white;
	text-shadow: blue 1px 0 10px;
	/* background-color: #dfdfdf; */

}

h2 {
	font-family: cursive;
    color: #3f3faf;
    background: linear-gradient(.25turn, white, 50%, #ffefaf);
    padding: 5px;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
    grid-gap: 10px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #f5e6cc;
}
img{
	float: right;
}